@tailwind base;
@tailwind components;
@tailwind utilities;

/* .abajo {
  background-color: #000;
}

.header ul li {
  color: #fff;
} */

.abajo {
  /* Estilos cuando se hace scroll */
  transition: 0.8s all ease-in-out;
  background-color: rgb(250, 250, 250, 0.3);
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 1px;
  padding-bottom: 1px;
  /* Otros estilos deseados */
}

.logo2 {
  transition: 0.8s all ease-in-out;
  width: 62px;
}

.hidden {
  display: none;
  transition: 0.3s all ease-in-out;
}

@layer components {
  .my-custom-style {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
